# MongoDB
MONGODB_URI=mongodb+srv://<user>:<pass>@<cluster>.mongodb.net/civic_info

# Wikimedia Enterprise API
WIKIMEDIA_USERNAME=your_wikimedia_enterprise_username_here
WIKIMEDIA_PASSWORD=your_wikimedia_enterprise_password_here

# Google Civic Information API
GOOGLE_CIVIC_API_KEY=your_google_civic_api_key_here

# Congress.gov API
CONGRESS_GOV_API_KEY=your_congress_gov_api_key_here

# OpenFEC API
OPEN_FEC_API_KEY=your_open_fec_api_key_here

# OpenStates API
OPEN_STATES_API_KEY=your_open_states_api_key_here

# LegiScan API
LEGISCAN_API_KEY=your_legiscan_api_key_here

# ElevenLabs API
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here